<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ExampleApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Controllers</title>
    <link rel="stylesheet" href="../Content/bootstrap.css" />
    <link rel="stylesheet" href="../Content/bootstrap-theme.css" />
    <script src="../Scripts/angular.js"></script>
    <script>
        angular.module("ExampleApp", [])
            .controller("SimpleCtrl", function ($scope, $rootScope) {

                $scope.$on("zipCodeUpdated", function (event, args) {
                    $scope[args.type] = args.zipCode;
                });

                $scope.setAddress = function (type, zip) {
                    $rootScope.$broadcast("zipCodeUpdated", { type: type, zipCode: zip });
                    console.log("Type: " + type + " " + zip);
                };

                $scope.copyAddress = function () {
                    $scope.zip = $scope.billingZip;
                };
            });
    </script>
</head>
<body>
    <div class="well" ng-controller="SimpleCtrl">
        <h4>Billing Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="zip" />
        </div>
        <button class="btn btn-primary" ng-click="setAddress('billingZip', zip)">
            Save Billing
        </button>
    </div>
    <div class="well" ng-controller="SimpleCtrl">
        <h4>Shipping Zip Code</h4>
        <div class="form-group">
            <input class="form-control" ng-model="zip" />
        </div>
        <button class="btn btn-primary" ng-click="copyAddress()">
            Use Billing
        </button>
        <button class="btn btn-primary" ng-click="setAddress('shippingZip', zip)">
            Save Shipping
        </button>
    </div>
</body>
</html>
